%tr{"data-idx" => idx}
  %td{:width => "20px", :style => "text-align: center"}
    = f.text_field :car_name, :class => "text-input car-name autocomplete"
  - unless @car_classes.blank? or (@car_classes.first.name.blank?)
    %td
      = f.select :car_class_id, @car_classes.map {|c|[c.name, c.id]}
  %td
    = f.text_field :amount, :class => "text-input amount"
  %td
    = f.text_field :restrictions, :class => "text-input rest"
    = f.hidden_field :allowed, :class => "allowed"
  %td
    = f.check_box '_destroy'
    