= form_for @league do |f|
  -if @league.errors.any?
    #error_explanation
      %h2= "#{pluralize(@league.errors.count, "error")} prohibited this league from being saved:"
      %ul
        - @league.errors.full_messages.each do |msg|
          %li= msg

  #tabs
    %ul
      %li
        = link_to "Details", "#league-details"
      %li
        = link_to "Regulations", "#league-regulations"
      %li
        = link_to "Settings", "#league-settings"
      %li
        = link_to "Classes", "#car-classes"
      %li
        = link_to "Allowed Cars", "#allowed-cars"
      %li
        = link_to "Point Settings", "#points"
      %li
        = link_to "Races", "#races"
    #league-details
      = render :partial => "edit_league_details", :locals => {:f => f}
    #league-regulations
      - f.fields_for :race_regulations do |regs|
        = render :partial => 'races/race_regulations', :locals => {:f => regs}
    #league-settings
      - f.fields_for :event_settings do |es|
        = render :partial => 'races/event_settings', :locals => {:f => es}
    #car-classes
      = render :partial => "edit_car_classes", :locals => {:f => f}
    #allowed-cars
      = render :partial => "edit_allowed_cars", :locals => {:f => f}
    #races
      - if @league.new_record?
        Once you have created the league you can add races
      - else
        - if @league.races.blank?
          You have not races yet
          = link_to "Click here", new_league_race_path(@league)
        - unless @league.races.blank?
          = link_to "New race", "#", :class => "ui-icon ui-icon-plusthick", :title => "New race", :style => "float: left; margin-right: 5px;"
          = link_to 'New Race', new_league_race_path(@league)
          %table
            %tr
              %th Name
              %th Track
              %th Start time
              %th Entries
              %th

            - @league.races.each do |race|
              %tr
                %td= link_to race.name, race
                %td= link_to race.track.name, race
                %td= link_to "#{race.start_time.strftime("%d/%m/%y %I:%M%p")} #{ActiveSupport::TimeZone.zones_map[race.timezone]}", race
                %td= link_to "#{race.users.length}/#{race.max_players} (#{race.max_players - race.users.length} left)", "/races/#{race.id}#register"
                %td{:style => "min-width: 26px; text-align: center;"}
                  = link_to "Show", race, :class => "ui-icon ui-icon-search", :title => "View race details", :style => "float: left; margin-right: 5px;"
                  - if race.organiser.eql?(current_user)
                    = link_to 'Edit', edit_race_path(race), :class => "ui-icon ui-icon-wrench", :style => "float: left; margin-right: 5px;", :title => "Edit race details"
                    = link_to 'Destroy', race, :confirm => 'Are you sure?', :method => :delete, :class => "ui-icon ui-icon-trash", :style => "float: left; margin-right: 5px;", :title => "Delete race"
    #points
      %table{:class => "quarter", :id => "points-setting-table"}
        %tr
          %th
            Position
          %th
            Points
          %th
            Delete
        - pos = 1
        - f.fields_for :league_points do |lp|
          = render :partial => 'points_form', :locals => {:f => lp, :pos => pos}
          - pos += 1
      = link_to "Add another position", "#", :class => "ui-icon ui-icon-plusthick add-pp", :title => "New race", :style => "float: left; margin-right: 5px;"
      = link_to 'Add another position', "#", :class => "add-pp"
  %p
    = f.submit 'Save', :class => "submit"
- if @league.new_record?
  .hidden#first-table
    %table{:class => "half", :id => "car-classes-table"}
      %tbody
        %tr
          %th
            Name
          %th
            Max players
        %tr{"data-idx" => "0"}
          %td{:width => "20px", :style => "text-align: center;"}
            %input{:type => "text", :size => "30", :name => "league[car_classes_attributes][0][name]", :id => "league_car_classes_attributes_0_name", :class => "text-input"}
          %td
            %input{:type => "text", :size => "30", :name => "league[car_classes_attributes][0][max_players]", :id => "league_car_classes_attributes_0_max_players", :class => "text-input"}
- unless @show_table
  .hidden#first-aa-table
    %table{:id => "allowed-car-table", :class => "half"}
      %tbody
        %tr
          %th{:width => "20px"}
            Car
          - unless @car_classes.blank? or (@car_classes.first.name.blank?)
            %th
              Class
          %th
            Amount
          %th
            Restrictions
        %tr{"data-idx" => "0"}
          %td{:width => "20px", :style => "text-align: center;"}
            %input{:type => "text", :size => "30", :name => "league[league_cars_attributes][0][car_name]", :id => "league_league_cars_attributes_0_car_name", :class => "text-input car-name autocomplete ui-autocomplete-input"}
          - unless @car_classes.blank? or (@car_classes.first.name.blank?)
            %td
              %select{:name => "league[league_cars_attributes][0][car_class_id]", :id => "league_league_cars_attributes_0_car_class_id"}
                = options_for_select(@car_classes.map {|c|[c.name, c.id]})
          %td
            %input{:type => "text", :size => "30", :name => "league[league_cars_attributes][0][amount]", :id => "league_league_cars_attributes_0_amount", :class => "text-input amount"}
          %td
            %input{:type => "text", :size => "30", :name => "league[league_cars_attributes][0][restrictions]", :id => "league_league_cars_attributes_0_restrictions", :class => "text-input rest"}
            = hidden_field_tag "league[league_cars_attributes][0][allowed]", "1", :class => "allowed"
            = hidden_field_tag "league[league_cars_attributes][0][car_id]", "", :class => "car_id"