%label{:style => "display: inline;"}
  League organiser:
= "#{league.organiser.username} (#{league.organiser.psn_name})"
%br
- unless league.race_regulations.first.car_restriction.blank?
  %label{:style => "display: inline;"}
    Car:
  = league.race_regulations.first.car_restriction
  %br
- if league.race_regulations.first.tcs
  %label{:style => "display: inline;"}
    TCS:
  allowed
  %br
- if league.race_regulations.first.driving_line
  %label{:style => "display: inline;"}
    Driving line:
  on
  %br
- if league.race_regulations.first.performance_points > 0
  %label{:style => "display: inline;"}
    PP limit:
  = league.race_regulations.first.performance_points
  %br
- if league.race_regulations.first.power > 0
  %label{:style => "display: inline;"}
    Power limit:
  = "#{league.race_regulations.first.power}BHP"
  %br
- if league.results.length > 0
  %label{:style => "display: inline;"}
    Current leader:
  = league.standings.order("standings.points desc").first.user.username
  %br
%br
View league details for more info