%p{:style => "color: red;"}
  Before registering for this event read the league details, regulations and settings.
- if !@league.car_classes.blank?
  - if @show_reg
    = render :partial => 'league_entry'
- else
  - if @league.users.include?(current_user)
    You are participating in this race.
    %br
    If you can not take part, please remove yourself ASAP
    = link_to "Exit race", exit_league_path(@league)
  - elsif @league.users.length.eql?(@league.max_players)
    Entries closed, maximum players entered.
  - elsif !@league.users.include?(current_user)
    = link_to("Click here", enter_league_path(@league)) + " to enter race (#{@league.max_players - @league.users.length} spaces left)"
- if @league.users.length > 0
  %table{:class => "race-table", :style => "width: 50%;"}
    %tr
      %th
        Username
      %th
        PSN Name
      - if @league.organiser.eql?(current_user)
        %th
    - @league.users.each do |user|
      %tr
        %td
          = user.username
        %td
          = user.psn_name
        - if @league.organiser.eql?(current_user)
          %td{:style => "width: 8px"}
            = link_to 'Remove driver', admin_exit_league_path(@league, user), :confirm => 'Are you sure?', :method => :delete, :class => "ui-icon ui-icon-trash", :title => "Remove driver", :style => "float: left;"
- else
  No entries yet