%p{:style => "color: red;"}
  Before registering for this event read the league details, regulations, settings and you understand all of these.
  
- if !@league.is_registered?(current_user)
  - if @league.league_entries.length.eql?(@league.max_players)
    %span{:style => "color: red;"}
      Entries closed, maximum players entered.
  - else
    = render :partial => 'league_entry'
- else
  - if @league.is_registered?(current_user)
    You are participating in this race.
    %br
    If you can not take part, please remove yourself ASAP
    = link_to "Exit race", exit_league_path(@league)
  - elsif @league.league_entries.length.eql?(@league.max_players)
    Entries closed, maximum players entered.
  - elsif !@league.is_registered?(current_user)
    = link_to("Click here", enter_league_path(@league)) + " to enter race (#{@league.max_players - @league.league_entries.length} spaces left)"
- if @league.league_entries.length > 0
  %br
  %br
  = render :partial => "class_league_entries"
  = render :partial => "league_entries"
- else
  No entries yet