%table{:class => "race-table"}
  %tr
    %td{:class => "first"}
      %label
        Name
    %td
      = @league.name
  %tr
    %td
      %label
        Max players
    %td
      = @league.max_players
  %tr
    %td
      %label
        Organiser
    %td
      = @league.organiser.username
      = " - PSN name: #{@league.organiser.psn_name}"
- if @league.league_cars.where("league_cars.allowed = 1").length > 0
  %h4
    Allowed cars
  = render :partial => "show_allowed_cars"
- unless @league.car_classes.blank?
  %h4
    Classes
  = render :partial => "show_car_classes"
%h4
  Points system
%table{:class => "half"}
  %tr
    %th
      Position
    %th
      Points
  - @league.league_points.each do |lp|
    = render :partial => "show_points", :locals => {:points => lp}
  