%table
  %tr
    %th{:style => "width: 250px;"}
      Car
    - unless @car_classes.blank? or (@car_classes.first.name.blank?)
      %th
        Class
    %th{:style => "width: 120px;"}
      Amount
    %th
      Restrictions
  - @league.league_cars.where("league_cars.allowed = 1").order("league_cars.car_class_id ASC").each do |cc|
    - unless cc.car_name.blank?
      %tr
        %td{:class => "first"}
          = cc.car_name
        - unless @car_classes.blank? or (@car_classes.first.name.blank?)  
          %td
            = cc.car_class.name
        %td
          = link_to "#{cc.amount - cc.used_amount} entries left", "#register"
        %td
          = cc.restrictions