= link_to "New league", "#", :class => "ui-icon ui-icon-plusthick", :title => "New league", :style => "float: left; margin-right: 5px;"
= link_to 'Add New League', new_league_path, :title => "New league"
%br
%br
#tabs
  %ul
    %li
      = link_to "Open leagues", "#open-leagues"
    %li
      = link_to "My leagues", "#my-leagues"
      
  #open-leagues
    = render :partial => "open_leagues"
  #my-leagues
    = render :partial => "my_leagues"
