#tabs
  %ul
    %li
      = link_to "Standings", "#league-standings"
    %li
      = link_to "Races", "#races"
    %li
      = link_to "Details", "#league-details"
    %li
      = link_to "Regulations", "#league-regulations"
    %li
      = link_to "Settings", "#league-settings"
    %li
      = link_to "Register", "#register"
    %li
      = link_to "Admin", "#admin" if @league.organiser.eql?(current_user)
  #league-standings
    = render :partial => "league_standings"
  #league-details
    = render :partial => "league_details"
  #league-regulations
    = render :partial => "races/show_race_regulations"
  #league-settings
    = render :partial => "races/show_event_settings"
  #races
    = render :partial => "league_races"
  #register
    = render :partial => "league_register"
  - if @league.organiser.eql?(current_user)
    #admin
      = link_to 'Delete', @league, :confirm => 'Are you sure?', :method => :delete, :title => "Delete league", :class => "ui-icon ui-icon-trash", :style => "float: left; margin-right: 5px;"
      = link_to 'Delete league', @league, :confirm => 'Are you sure?', :method => :delete, :title => "Delete league"
      %br
      = link_to 'Edit', edit_league_path(@league), :class => "ui-icon ui-icon-wrench", :style => "float: left; margin-right: 5px;"
      = link_to 'Edit league', edit_league_path(@league)

= link_to 'Back', leagues_path
