= form_for @track_type do |f|
  -if @track_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@track_type.errors.count, "error")} prohibited this track_type from being saved:"
      %ul
        - @track_type.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
