- idx = 0
- if !league.nil?
  - league.car_classes.each do |cc|
    - pos = 0
    %h3
      = cc.name
    %table{:class => "half"}
      %tr
        %th
          Position
        %th
          User
          = hidden_field_tag "race[open]", "0"
      - cc.max_players.times do
        %tr
          %td{:width => "20px", :style => "text-align: center"}
            = hidden_field_tag "race[results_attributes][#{idx}][position]", (pos + 1)
            = hidden_field_tag "race[results_attributes][#{idx}][league_id]", league.id
            = (pos + 1).ordinalize
          %td
            = select_tag "race[results_attributes][#{idx}][user_id]", options_for_select(cc.users.map {|u| ["#{u.username} (#{u.psn_name})", u.id]})
            = hidden_field_tag "race[results_attributes][#{idx}][car_class_id]", cc.id
            - pos += 1
            - idx += 1
- else
  - pos = 0
  %table{:class => "half"}
    %tr
      %th
        Position
      %th
        User
        = hidden_field_tag "race[open]", "0"
    - users.length.times do
      %tr
        %td{:width => "20px", :style => "text-align: center"}
          = hidden_field_tag "race[results_attributes][#{pos}][position]", (pos + 1)
          - unless race.league.blank?
            = hidden_field_tag "race[results_attributes][#{pos}][league_id]", race.league.id
          = (pos + 1).ordinalize
        %td
          = select_tag "race[results_attributes][#{pos}][user_id]", options_for_select(users.map {|u| ["#{u.username} (#{u.psn_name})", u.id]})
          - pos += 1
  