= form_for @race, :html => {:multipart => true} do |f|
  -if @race.errors.any?
    #error_explanation
      %h2= "#{pluralize(@race.errors.count, "error")} prohibited this race from being saved:"
      %ul
        - @race.errors.full_messages.each do |msg|
          %li= msg
  #tabs
    %ul
      %li
        = link_to "Race Details", "#race-details"
      - if @league.nil?
        %li
          = link_to "Race Regulations", "#race-regulations"
        %li
          = link_to "Event Settings", "#event-settings"
      %li
        = link_to "Results", "#results"
    #race-details
      %table{:class => "race-table"}
        %tr
          %td{:class => "first"}
            = f.label :name
          %td
            = f.text_field :name, :class => "text-input"
        %tr
          %td{:class => "first"}
            = f.label :track
          %td
            = f.select :track_id, Track.all.map {|u| [u.name,u.id]}
        %tr
          %td{:class => "first"}
            = f.label :race_type
          %td
            = f.select :race_type, SiteConfig.race_types
        %tr
          %td{:class => "first"}
            = f.label :max_players
          %td
            - if @league
              = @league.max_players
              = f.hidden_field :max_players, :value => @league.max_players
            - else
              = f.select :max_players, SiteConfig.max_players
        %tr
          %td{:class => "first"}
            = f.label "Race start"
          %td
            = f.datetime_select :start_time
        %tr
          %td{:class => "first"}
            = f.label :timezone
          %td
            = f.select :timezone, ActiveSupport::TimeZone.all.map {|u| ["#{u.name} #{u.formatted_offset}",u.name]}, :blank => true
        %tr
          %td{:class => "first"}
            = f.label "Number of laps"
          %td
            = f.select :laps, SiteConfig.laps
        %tr
          %td{:class => "first"}
            = f.label "PSN Race ID"
          %td
            = f.text_field :psn_race_id, :class => "text-input half"
            = note("e.g 1111-2222-3333-4444")
        %tr
          %td{:class => "first"}
            = f.label :public, :style => "display: inline;"
          %td
            = f.check_box(:public, {}, true, false)
            = note("Choose if the race is open to the public")
    - unless @league.nil?
      = f.hidden_field :league_id, :value => @league.id
    - if @league.nil?
      #race-regulations
        - f.fields_for :race_regulations do |regs|
          = render :partial => 'race_regulations', :locals => {:f => regs}
      #event-settings
        - f.fields_for :event_settings do |es|
          = render :partial => 'event_settings', :locals => {:f => es}
    #results
      - if @race.new_record?
        Once you have created the race you can enter results
      - elsif @race.results.length.eql?(0)
        If the race has finished the results are in then
        = link_to "Click here", "#", :id => "gen_results", "data-race-id" => @race.id
        to generate results
      - elsif @race.results.length > 0
        - pos = 0
        %table{:class => "half"}
          %tr
            %th
              Position
            %th
              User
          - f.fields_for :results do |result|
            = render :partial => "modify_result", :locals => {:f => result, :pos => (pos += 1)}
          
  %p
    = f.submit 'Save', :class => "submit"
