%table{:class => "race-table"}
  %tr
    %td{:class => "first"}
      = f.label :skid_recovery
    %td
      = f.check_box(:skid_recovery, {}, true, false)
  %tr
    %td{:class => "first"}
      = f.label :active_steering
    %td
      = f.check_box(:active_steering, {}, true, false)
  %tr
    %td{:class => "first"}
      = f.label :asm
    %td
      = f.check_box(:asm, {}, true, false)
  %tr
    %td{:class => "first"}
      = f.label :driving_line
    %td
      = f.check_box(:driving_line, {}, true, false)
  %tr
    %td{:class => "first"}
      = f.label :tcs
    %td
      = f.check_box(:tcs, {}, true, false)
  %tr
    %td{:class => "first"}
      = f.label "Car Restriction"
    %td
      = f.text_field :car_restriction, :class => "text-input"
      = note("e.g DTM Cars, 60's Only, Japanese Only, Lamborghini Gallardo LP 560-4 '08")
  %tr
    %td{:class => "first"}
      = f.label "Tyre Restrictions"
    %td
      = f.select :tyre_restrictions, SiteConfig.tyre_restrictions
  %tr
    %td{:class => "first"}
      = f.label :performance_points
    %td
      #pp-slider
      = f.text_field :performance_points, :id => "pp-input", :class => "text-input quarter"
      = note("Enter 0 for no limit")
  %tr
    %td{:class => "first"}
      = f.label :power
    %td
      = f.text_field :power, :id => "pow-input", :class => "text-input quarter"
      = note("Enter 0 for no limit")
  %tr
    %td{:class => "first"}
      = f.label :weight
    %td
      = f.text_field :weight, :id => "we-input", :class => "text-input quarter"
      = note("Enter 0 for no limit")