%table{:class => "race-table"}
  %tr
    %td{:class => "first"}
      %label
        Mechanical damage
    %td
      = @event_settings.mechanical
  %tr
    %td{:class => "first"}
      %label
        Game mode
    %td
      = @event_settings.game_mode
  %tr
    %td{:class => "first"}
      %label
        Penalities
    %td
      = @event_settings.penalty
  %tr
    %td{:class => "first"}
      %label
        Tyre/Fuel Depletion
    %td
      = @event_settings.tyre_fuel_depletion
  %tr
    %td{:class => "first"}
      %label
        Grip reduction
    %td
      = @event_settings.grip_reduction
  %tr
    %td{:class => "first"}
      %label
        Grid order
    %td
      = @event_settings.grid_order
  %tr
    %td{:class => "first"}
      %label
        Start type
    %td
      = @event_settings.start_type
  %tr
    %td{:class => "first"}
      %label
        Boost
    %td
      = @event_settings.boost
  %tr
    %td{:class => "first"}
      %label
        Shuffle ratio
    %td
      = @event_settings.shuffle_ratio