= link_to "New race", "#", :class => "ui-icon ui-icon-plusthick", :title => "New race", :style => "float: left; margin-right: 5px;"
= link_to 'New Race', new_race_path, :title => "New race"
%br
%br
#tabs
  %ul
    %li
      = link_to "Open races", "#open-races"
    %li
      = link_to "My races", "#my-races"
    %li
      = link_to "Closed races", "#closed-races"
      
  #open-races
    = render :partial => "open_races"
  #my-races
    = render :partial => "my_races"
  #closed-races
    = render :partial => "closed_races"
