#tabs
  %ul
    %li
      = link_to "Race Details", "#race-details"
    %li
      = link_to "Race Regulations", "#race-regulations"
    %li
      = link_to "Event Settings", "#event-settings"
    %li
      = link_to "Register", "#register"
    - if @race.organiser.eql?(current_user)
      %li
        = link_to "Admin", "#admin"
  #race-details
    = render :partial => "show_race_details"
  #race-regulations
    = render :partial => "show_race_regulations"
  #event-settings
    = render :partial => "show_event_settings"
  #register
    = render :partial => "race_register"
  - if @race.organiser.eql?(current_user)
    #admin
      = link_to 'Destroy', @race, :confirm => 'Are you sure?', :method => :delete, :title => "Delete race"
      %br
      = link_to('Edit', edit_race_path(@race)) if @race.organiser.eql?(current_user)
%br
= link_to ' Back', races_path
