#tabs
  %ul
    %li
      = link_to "Race Details", "#race-details"
    - if @race.league_id.blank?
      %li
        = link_to "Race Regulations", "#race-regulations"
      %li
        = link_to "Event Settings", "#event-settings"
    %li
      = link_to "Results", "#results"
    %li
      = link_to "Register", "#register"
    - if @race.organiser.eql?(current_user)
      %li
        = link_to "Admin", "#admin"
  #race-details
    = image_tag(@race.photos.first.photo_data.url(:small))
    = render :partial => "show_race_details"
  - if @race.league_id.blank?
    #race-regulations
      = render :partial => "show_race_regulations"
    #event-settings
      = render :partial => "show_event_settings"
  #register
    - if !@race.league.blank?
      This race is part of a league.
      = link_to "Click here", "/leagues/#{@race.league.id}#register"
      to register for the league.
    - elsif !@race.results.blank?
      Enteries for this race are closed as the results are in.
    - elsif @race.league.blank?
      = render :partial => "race_register"
  #results
    = render :partial => "show_results"
  - if @race.organiser.eql?(current_user)
    #admin
      = link_to 'Delete', @race, :confirm => 'Are you sure?', :method => :delete, :title => "Delete race", :class => "ui-icon ui-icon-trash", :style => "float: left; margin-right: 5px;"
      = link_to 'Delete race', @race, :confirm => 'Are you sure?', :method => :delete, :title => "Delete race"
      %br
      = link_to 'Edit', edit_race_path(@race), :class => "ui-icon ui-icon-wrench", :style => "float: left; margin-right: 5px;"
      = link_to 'Edit race', edit_race_path(@race)
%br
- unless @race.league_id.blank?
  = link_to "Back to league", "#{league_path(@race.league)}#races"
- else
  = link_to ' Back', races_path
