#navigation
  %ul
    - if user_signed_in?
      %li
        = link_to "Home", root_path
      %li
        = link_to "My Garage", "/garage"
      %li
        = link_to "Tunings", tunings_path
      %li
        = link_to "Races", races_path
      %li
        = link_to "My Account", account_path
    - else
      %li
        = link_to "Sign in", "/users/sign_in"
      %li
        = link_to "Sign up", "/users/sign_up"  
  .clear