%h1 Listing setup_groups

%table
  %tr
    %th Name
    %th Parent
    %th
    %th
    %th

  - @setup_groups.each do |setup_group|
    %tr
      %td= setup_group.name
      %td= setup_group.parent.name unless setup_group.parent_id.nil?
      %td= link_to 'Show', setup_group
      %td= link_to 'Edit', edit_setup_group_path(setup_group)
      %td= link_to 'Destroy', setup_group, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Setup group', new_setup_group_path
