!!!
%html
  %head
    %title
      GTCC
      = " ~ #{@page_title}" unless @page_title.nil?
    = stylesheet_link_tag :all
    = javascript_include_tag "jquery", "jquery.autocomplete", "jquery-ui", "rails", "application"
    = csrf_meta_tag
  %body
    #wrapper
      = render :partial => "shared/header"
      = render :partial => "shared/flash"
      #content
        = yield